<!DOCTYPE html>
<html>
<head>
  <title>Days:Admin</title>
  <%= stylesheet_link_tag :all %>
  <!--<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>-->
  <link href='/javascripts/libs/fancybox/jquery.fancybox-1.3.4.css' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>
<body>
	<h1 id="title"><a href="<%= root_path %>"><%= title %> of HPNeo</a></h1>
	<div id="admin">
		<%= yield %>
	</div>
	<%= include_javascripts :libs %>
	<%= include_javascripts :app %>
</body>
</html>
